* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}

.escondido-t3 {
  display: none;
}

.header-t3 {
  background-color: #EC362D;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 37px;
  font-weight: bold;
  box-shadow: 0 4px 3px -1px #00000052;
}

.main-t3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.p-main-t3 {
  margin-top: 71px;
}

.p-main-t3>p {
  color: black;
  font-size: 23px;
  font-weight: bold;
}

.box-main-t3 {
  width: 600px;
  height: 256px;
  margin-top: 27px;
  background: #FFFFFF;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
}

.segundaTela-t3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  width: 100%;
}

.div-Flex-t3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-perguntas-t3 {
  width: 800px;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main-perguntas-t3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-perguntas-t3>p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  margin-left: 15px;
}

.main-niveis-t3>p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  margin-left: 15px;
}


.main-niveis-t3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 63px;
}

.main-niveis-t3 img {
  margin-left: 550px;
  margin-top: -25px;
  padding-bottom: 100px;
}

.box-final-t3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-final-t3 h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.renderizaImgQuizz {
  height: 266px;
  width: 500px;
  border-radius: 5px;

  position: relative;
  left: 0;
  top: 0;
}

.renderizaImgQuizz p {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.acessarQuizz {
  width: 220.32px;
  height: 44px;
  margin-top: 40px;
}

.buttonHome {
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  margin-top: 25px;

  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 46px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #BABABA;
  box-sizing: border-box;
  padding-left: 23px;
}

.respostaCorreta {
  margin-top: 26px;
}

.respostasIncorretas {
  margin-top: 28px;
}

.marginTop {
  margin-top: 30px;
}

button {
  width: 368.86px;
  height: 54px;
  margin-top: 80px;
  background: #EC362D;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
  color: white;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #FFF5F4;
}

.textoECorPergunta {
  margin-top: 30px;
}

.nivel {
  margin-top: 43px;
  box-sizing: border-box;
  padding-top: 27px;
}

.nivel > p {
  margin-top: 27px;
  margin-left: 10px;
}

.container-niveis {
  width: 600px;
  height: 316px;
  margin-bottom: 24px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.degradeQuizzFinal {
  height: 266px;
  width: 500px;

  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(360deg, #00000080 40%, #ffffff00 100%);
}

.imgQuizzDoInicio {
  height: 266px;
  width: 500px;
  border-radius: 5px;
}

.voltar {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #818181;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.renderizaNiveis {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px;
}

@media (max-width: 1100px) {

  .box-main-t3,
  .segundaTela-t3,
  .box-perguntas-t3,
  .main-perguntas-t3,
  .renderizaPerguntas,
  .renderizaNiveis {
    width: 100%;
  }

  .box-main-t3 input {
    width: 100%;
  }

  .buttonCriarNiveis,
  .buttonFinalizarQuizz {
    width: 325px;
  }

  .buttonCriarNiveis a,
  .buttonFinalizarQuizz {
    font-size: 20px;
    line-height: 21px;
    color: white;
  }

  .container-pergunta {
    width: 100%;
  }

  .container-pergunta input {
    width: 100%;
  }

  .container-niveis {
    width: 100%;
  }

  .nivel input {
    width: 100%;
  }
}